@model TaskControl.Models.TaskDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить "@Model.parentModel.TaskName"</h1>

<h3>Это действие безвозвратно удалит саму задачу и её подзадачи.</h3>
<div>
    <hr> </hr>
    <h3>"@Model.parentModel.TaskName"</h3>
    <hr> </hr>
    <hr />
    <dl class="row">
        <h4>"В том числе будут удалены: @Model.parentModel.TaskName"</h4>
        @foreach (var item in Model.ChildModels)
        {
            <hr> </hr>
            @item.TaskName
            <hr> </hr>
        }
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="parentModel.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
